h1, h2 {
    text-align: center;
}

section {
    border: 2px solid black;
    min-height: 800px;
    margin: 10px 80px;
}

.q-a-box {
    border: 1px solid black;
    margin: 0px 80px;
}

fieldset {
    border: 0;
}