h1, h2 {
    text-align: center;
}

.js-feedback h2, .js-feedback p {
    background-color: white;
    padding: 10px 40px;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    border: 10px solid lightgrey;
    min-height: 800px;
    margin: 10px 80px;
}
@media only screen and (max-width: 900px) {
    section {
      margin: 10px 10px
    }
  }
@media only screen and (min-width: 1200px) {
    section {
      margin: 10px 300px
    }
  }

.top-part {
    height: 300px;
    margin: 20px 80px;
    background-color: aliceblue;
}
@media only screen and (max-width: 480px) {
    .top-part {
      margin: 0px 10px
    }
  }

.landing-page .top-part {
    background-color: grey;
    background-image: url('images/DSLR-Camera-PNG-File.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-blend-mode: soft-light;
}

.question-page .top-part {
    background-image: url('images/Video-Camera-Lens-PNG-Photos.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}


.start-button {
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    background-color: #4CAF50;
    width: 200px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.stats {
    margin: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-decoration: underline;
}
@media only screen and (max-width: 480px) {
    .stats {
      margin: 0px 10px
    }
  }


.q-a-box {
    margin: 0px 80px;
}
@media only screen and (max-width: 480px) {
    .q-a-box {
      margin: 0px 10px
    }
  }

.wrong-answer {
    color: red;
}

.correct-answer {
    color: green;
    font-weight: bold;
}

fieldset {
    border: 0;
}

legend {
    padding: 20px 0px;
    font-weight: bold;
    text-align: center;
}

label {
    line-height: 20px;
    border: 1px solid lightgrey;
    display: flex;
    background-color: #F7F7F7;
}
label:focus{
    background-color:aliceblue; /* not working */
}
label:hover {
    background-color: aliceblue;
  }
label:active {
    background-color: skyblue;
  }

label span {
    margin: auto 0px;
    padding: 12px 16px 12px 0px;
}

input {
    margin: 20px;
}

button {
    margin-top: 20px;
    padding: 12px 0px;
    width: 100%;
    background-color: #ADD9FF;
    font-weight: bold;
    letter-spacing: 6px;
    border-radius: 25px;
}

.hide {
  display: none;
}